<style>
  .list-group-item:hover {
    background-color: #000066;
    cursor: pointer;
    color: #fff;
  }
  section {
    height: 100%;
  }

  section p {
    font-size: 2rem;
    padding-bottom: 35px;
  }

  section span {
    color: #e61234;
    font-weight: 700;
  }
</style>
<section id="tipo">
  <div class="container mt-5">
    <div class="col-lg-8 offset-lg-2">
      <img src="{{URL}}/resources/assets/img/segundo-passo.png" class="img-fluid rounded-top mb-5" alt="" />
      ticket: {{ticket}}

      <p>
        Olá atleta, <b>{{nome}}</b>! Falta pouco, clique no botão <b>CONTINUAR</b> 
        logo abaixo para efetuar o pagamento e concluir a sua inscrição! <br /><br />

        <span> <b>IMPORTANTE: </b>Na primeira tela do link de pagamento, por favor, confirme os mesmos dados 
            do atleta inscrito, independente de quem realizará o pagamento, para que possamos localiza-lo melhor! </span>
      </p>
      <div class="text-center">
        <a class="nav-link scrollto" target="_blank" href="{{botaoPagseguro}}/button">
          <div class="btn-botao mt-5 text-center">
            <button type="submit">Continuar</button>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
