<style>
  .list-group-item:hover {
    background-color: #000066;
    cursor: pointer;
    color: #fff;
  }
  section {
    height: 100%;
  }

  section p {
    font-size: 2rem;
    padding-bottom: 35px;
  }

  section span {
    color: #e61234;
    font-weight: 700;
  }
</style>
<section id="tipo">
  <div class="container mt-5">
    <div class="col-lg-8 offset-lg-2">
      <img
        src="{{URL}}/resources/assets/img/segundo-passo.png"
        class="img-fluid rounded-top mb-5"
        alt=""
      />
      ticket: {{ticket}}
      <p>
        Olá atleta, <b>{{nome}}</b>! Falta pouco, clique no botão
        <b>CONTINUAR</b> logo abaixo para efetuar o pagamento e concluir a sua
        inscrição! <br /><br />

        <span>
          <b>IMPORTANTE: </b>Após efetuar o pagamento da inscrição, enviar
          comprovante de residência para o WhatsApp: (84) 99690-3658!
        </span>
      </p>
      <div class="text-center btn-botao">
        <a
          class="nav-link scrollto"
          target="_blank"
          href="{{botaoPagseguro}}/button"
        >
          <button>Continuar</button>
        </a>
      </div>
    </div>
  </div>
</section>
