<style>
  .list-group-item:hover {
    background-color: #000066;
    cursor: pointer;
    color: #fff;
  }
  section {
    height: 100vh;
  }

  section p {
    font-size: 2rem;
    padding-bottom: 35px;
  }
</style>
<section id="tipo">
  <div class="container mt-5">
    <div class="col-lg-8 offset-lg-2">
      <img src="{{URL}}/resources/assets/img/3-passo.png" class="img-fluid rounded-top mb-5" alt="" />
      {{status}} 
      
      <p>PARABÉNS PELA INCRIÇÃO, QUALQUER DUVIDA ENTRE EM CONTATO PELO NOSSO WHATASAPP</b>
    
    </div>
  </div>
</section>
