<style>
  .list-group-item:hover {
    background-color: #000066;
    cursor: pointer;
    color: #fff;
  }
  section {
    height: 100vh;
  }

  section p {
    font-size: 2rem;
    padding-bottom: 35px;
  }
</style>
<section id="tipo">
  <div class="container mt-5">
    <div class="col-lg-6 offset-lg-3">
      <form method="post" action="{{URL}}/cadastrar/inscricao">
        <p>Selecione sua categoria</p>
        <ul class="list-group list-group-flush">
          {{categorias}}
        </ul>
        <div class="text-center mt-3">
          <div class="tilted-button-container">
            <button type="submit" class="tilted-button">
              <div class="button-text">Enviar</div>
            </button>
            <div class="button-line"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
