<section id="a_corrida">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-3 d-flex align-items-center">
        <img
          src="{{URL}}/resources/assets/img/img-5k.png"
          class="img-fluid"
          data-aos="fade-down-right"
          data-aos-delay="250" />
      </div>
      <div class="col-lg-6 col-6 d-flex justify-content-center text-center flex-column align-items-center">
        <p>A CORRIDA DAS NAÇÕES</p>
        <a href="{{URL}}/#camisas">
          <img src="{{URL}}/resources/assets/img/img-setabaixo.png" class="img-fluid" data-aos="fade-down" />
        </a>
      </div>
      <div class="col-lg-3 col-3 d-flex align-items-center">
        <img
          src="{{URL}}/resources/assets/img/img-10k.png"
          class="img-fluid"
          data-aos="fade-down-left"
          data-aos-delay="250" />
      </div>
    </div>
  </div>
</section>
