<div id="homefundo">
    <section id="home">
      <div class="container">
        <img
        src="{{URL}}/resources/assets/img/banner_01_complemento.png"
        class="img-01"
        data-aos="fade-up"
        data-aos-delay="250"
      />
        <div
          class="col-lg-6 offset-lg-3 col-12 d-flex justify-content-center align-items-center align-items-end"
        >
          <img
            src="{{URL}}/resources/assets/img/corredor.png"
            class="img-fluid img-02"
            data-aos="fade-right"
            data-aos-delay="250"
          />
        </div>
      </div>
    </section>
  </div>
  
