<section id="home">
  <div class="container">
    <div class="row" data-aos="zoom-in">
      <div class="col-lg-4 col-4 align-items-md-center justify-content-md-center align-self-start" id="edicao">
        <img
          src="{{URL}}/resources/assets/img/img_edicao2023.png"
          class="img-fluid"
          data-aos="fade-right"
          data-aos-delay="1500" />
      </div>
      <div class="col-lg-6 offset-lg-3 col-12 d-flex justify-content-center align-items-center align-items-end">
        <img
          src="{{URL}}/resources/assets/img/img-atletacapa.png"
          class="img-fluid img-01"
          data-aos="fade-up"
          data-aos-delay="250" />
        <img
          src="{{URL}}/resources/assets/img/logo-img-capa.png"
          class="img-fluid img-02 d-none d-md-block"
          data-aos="fade-down"
          data-aos-delay="1000" />
      </div>
    </div>
  </div>
</section>
