<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-4 col-md-4 d-flex justify-content-center align-items-center">
        <div class="row">
          <div class="col-12 text-center">
            <img
              src="{{URL}}/resources/assets/img/logo-rodape.png"
              class="img-fluid"
            />
          </div>
          <div class="col-12 d-flex justify-content-end align-items-center">
            <p class="copyright">
              &copy; 2024 CriativaD. Todos os direitos reservados.
            </p>
          </div>

        </div>
      </div>
      <div class="col-4 col-md-4 text-center">

        <div class="event-title">Dia do evento</div>
        <div class="event-subtitle">Sábado 30 NOV</div>
        <div class="event-description">15:30 pm - 20:00 pm</div>

      </div>
      <div class="col-4 d-flex justify-content-end align-items-start">
        <div class="icon-box">
          <div class="text-center">Redes sociais</div>
          <a target="_blank" href="https://instagram.com/corridadasnacoes"
            ><i class="bx bxl-instagram"></i
          ></a>
          <a target="_blank" href="https://www.facebook.com/corridadasnacoess"
            ><i class="bx bxl-facebook-square"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
