<footer id="footer">
  <div class="container">
    <div class="row mt-lg-3">
      <div class="col-lg-2 col-12 d-flex justify-content-center align-items-center">
        <div class="icon-box">
          <a href="https://instagram.com/corridadasnacoes"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.facebook.com/corridadasnacoess"><i class="bx bxl-facebook-square"></i></a>
        </div>
      </div>
      <div class="d-lg-flex justify-content-lg-end align-items-lg-center col-lg-10 col-12">
        <p>
          CRIATIVA DESIGN E DESENVOLVIMENTO
          <img src="{{URL}}/resources/assets/img/footer-linha.jpg" class="img-fluid d-lg-none" alt="" />
        </p>
        <img src="{{URL}}/resources/assets/img/footer-linha.jpg" class="img-fluid d-none d-lg-block" alt="" />
      </div>
    </div>
  </div>
</footer>
