<section id="galeria" class="galeria">
    <div id="carouselExampleControls" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row g-0">
            <!-- Slides de imagens -->
            <div class="col-lg-4 col-md-6 col-6 galeria-item filter-app" data-aos="fade-down"
            data-aos-duration="1000">
              <div class="galeria-wrap">
                <a href="{{URL}}/resources/assets/img/fotos/img-ft-gd01.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
                  <img src="{{URL}}/resources/assets/img/fotos/img-ft-gd01.jpg" class="img-fluid" alt="" />
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 galeria-item filter-app" data-aos="fade-up"
            data-aos-duration="1000">
              <div class="galeria-wrap">
                <a href="{{URL}}/resources/assets/img/fotos/img-ft-gd02.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
                  <img src="{{URL}}/resources/assets/img/fotos/img-ft-gd02.jpg" class="img-fluid" alt="" />
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 galeria-item filter-app" data-aos="fade-down"
            data-aos-duration="1000">
              <div class="galeria-wrap">
                <a href="{{URL}}/resources/assets/img/fotos/img-ft-gd03.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
                  <img src="{{URL}}/resources/assets/img/fotos/img-ft-gd03.jpg" class="img-fluid" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row g-0">
            <!-- Mais slides de imagens -->
            <div class="col-lg-4 col-md-6 col-6 galeria-item filter-app">
              <div class="galeria-wrap">
                <a href="{{URL}}/resources/assets/img/fotos/img-ft-gd04.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
                  <img src="{{URL}}/resources/assets/img/fotos/img-ft-gd04.jpg" class="img-fluid" alt="" />
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 galeria-item filter-app">
              <div class="galeria-wrap">
                <a href="{{URL}}/resources/assets/img/fotos/img-ft-gd05.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
                  <img src="{{URL}}/resources/assets/img/fotos/img-ft-gd05.jpg" class="img-fluid" alt="" />
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 galeria-item filter-app">
              <div class="galeria-wrap">
                <a href="{{URL}}/resources/assets/img/fotos/img-ft-gd06.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
                  <img src="{{URL}}/resources/assets/img/fotos/img-ft-gd06.jpg" class="img-fluid" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row g-0">
            <!-- Mais slides de imagens -->
            <div class="col-lg-4 col-md-6 col-6 galeria-item filter-app">
              <div class="galeria-wrap">
                <a href="{{URL}}/resources/assets/img/fotos/img-ft-gd07.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
                  <img src="{{URL}}/resources/assets/img/fotos/img-ft-gd07.jpg" class="img-fluid" alt="" />
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 galeria-item filter-app">
              <div class="galeria-wrap">
                <a href="{{URL}}/resources/assets/img/fotos/img-ft-gd08.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
                  <img src="{{URL}}/resources/assets/img/fotos/img-ft-gd08.jpg" class="img-fluid" alt="" />
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 galeria-item filter-app">
              <div class="galeria-wrap">
                <a href="{{URL}}/resources/assets/img/fotos/img-ft-gd09.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
                  <img src="{{URL}}/resources/assets/img/fotos/img-ft-gd09.jpg" class="img-fluid" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row g-0">
            <!-- Mais slides de imagens -->
            <div class="col-lg-4 col-md-6 col-6 galeria-item filter-app">
              <div class="galeria-wrap">
                <a href="{{URL}}/resources/assets/img/fotos/img-ft-gd10.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
                  <img src="{{URL}}/resources/assets/img/fotos/img-ft-gd10.jpg" class="img-fluid" alt="" />
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 galeria-item filter-app">
              <div class="galeria-wrap">
                <a href="{{URL}}/resources/assets/img/fotos/img-ft-gd11.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
                  <img src="{{URL}}/resources/assets/img/fotos/img-ft-gd11.jpg" class="img-fluid" alt="" />
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-6 galeria-item filter-app">
              <div class="galeria-wrap">
                <a href="{{URL}}/resources/assets/img/fotos/img-ft-gd12.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
                  <img src="{{URL}}/resources/assets/img/fotos/img-ft-gd12.jpg" class="img-fluid" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Adicione mais carrosséis conforme necessário -->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <img src="{{URL}}/resources/assets/img/imagem-prev.png" alt="Anterior">
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <img src="{{URL}}/resources/assets/img/imagem-next.png" alt="Próximo">
      </button>
     
    </div>
</section>