<section id="galeria" class="galeria">
  <div data-aos="fade-up">
    <div class="row galeria-container g-0">
      <div class="col-lg-3 col-md-6 col-6 galeria-item filter-app" data-aos="fade-up" data-aos-delay="100">
        <div class="galeria-wrap">
          <a href="{{URL}}/resources/assets/img/img-ft-gd01.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
            <img src="{{URL}}/resources/assets/img/img-ft-gd01.jpg" class="img-fluid" alt="" />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-6 galeria-item filter-app" data-aos="fade-up" data-aos-delay="300">
        <div class="galeria-wrap">
          <a href="{{URL}}/resources/assets/img/img-ft-gd02.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
            <img src="{{URL}}/resources/assets/img/img-ft-gd02.jpg" class="img-fluid" alt="" />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-6 galeria-item filter-app" data-aos="fade-up" data-aos-delay="500">
        <div class="galeria-wrap">
          <a href="{{URL}}/resources/assets/img/img-ft-gd03.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
            <img src="{{URL}}/resources/assets/img/img-ft-gd03.jpg" class="img-fluid" alt="" />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-6 galeria-item filter-app" data-aos="fade-up" data-aos-delay="700">
        <div class="galeria-wrap">
          <a href="{{URL}}/resources/assets/img/img-ft-gd04.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
            <img src="{{URL}}/resources/assets/img/img-ft-gd04.jpg" class="img-fluid" alt="" />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-6 galeria-item filter-app" data-aos="fade-up" data-aos-delay="900">
        <div class="galeria-wrap">
          <a href="{{URL}}/resources/assets/img/img-ft-gd05.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
            <img src="{{URL}}/resources/assets/img/img-ft-gd05.jpg" class="img-fluid" alt="" />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-6 galeria-item filter-app" data-aos="fade-up" data-aos-delay="1100">
        <div class="galeria-wrap">
          <a href="{{URL}}/resources/assets/img/img-ft-gd06.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
            <img src="{{URL}}/resources/assets/img/img-ft-gd06.jpg" class="img-fluid" alt="" />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-6 galeria-item filter-app" data-aos="fade-up" data-aos-delay="1300">
        <div class="galeria-wrap">
          <a href="{{URL}}/resources/assets/img/img-ft-gd07.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
            <img src="{{URL}}/resources/assets/img/img-ft-gd07.jpg" class="img-fluid" alt="" />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-6 galeria-item filter-app" data-aos="fade-up" data-aos-delay="1500">
        <div class="galeria-wrap">
          <a href="{{URL}}/resources/assets/img/img-ft-gd08.jpg" data-gallery="galeriaGallery" class="galeria-lightbox">
            <img src="{{URL}}/resources/assets/img/img-ft-gd08.jpg" class="img-fluid" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
