<header id="header" class="header-scrolled"> <!--fixed-top -->
  <div class="container d-flex align-items-center justify-content-lg-between">
    <div class="logo me-auto me-lg-0" data-aos="fade-down">
      <a href="/">
        <img src="{{URL}}/resources/assets/img/logo-menu.png" class="img-fluid" />
      </a>
    </div>
    <nav id="navbar" data-aos="fade-down" class="navbar ml-auto order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" href="{{URL}}/#camisas">A Corrida</a></li>
        <li><a class="nav-link scrollto" target="_blank" href="{{URL}}/resources/assets/files/REGULAMENTO_CORRIDA_DAS_NACAOES_2023.20231708.pdf">Regulamento</a></li>
        <li><a class="nav-link scrollto" href="{{URL}}/#percurso">Percurso</a></li>
        <li><a class="nav-link scrollto" target="_blank" href="https://api.whatsapp.com/send?phone=558496903658">Contato</a></li>
        <li class="inscricao-menu-botao d-none d-lg-block">
          <a class="nav-link scrollto" href="{{URL}}/tipo/inscricao">
            <div class="tilted-button-container">
              <button class="tilted-button">
                <div class="button-text">Inscrições</div>
              </button>
              <div class="button-line"></div>
            </div>
          </a>
        </li>
        <li class="inscricao-menu-link d-lg-none d-md-block"><a class="nav-link scrollto" href="{{URL}}/tipo/inscricao">Inscrições</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>