<!-- Modal com imagem da entrega de camisas -->
<div class="modal fade" id="modal-confirmacao" tabindex="-1" role="dialog">
    <div class="modal-lg modal-dialog modal-dialog-centered">
      <div class="modal-content border-0">
        <div class="modal-body p-0">
            <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
            <img src="{{URL}}/resources/assets/img/img-entrega-camisas.jpg" alt="Entrega de Camisas" class="img-fluid rounded shadow-lg">
        </div>
      </div>
    </div>
  </div>
{{camisas}} {{maiorMelhor}} {{galeria}} {{objetivo}} {{inscricao}} {{evento}} {{percurso}} {{patrocinadores}}
