<section id="maior_melhor">
  <!-- <div class="metade-fundo"></div> -->
  <div class="row">
    <div class="col-5">
      <div class="pendulum">
        <img
          class="img-fluid"
          src="{{URL}}/resources/assets/img/medalha.png"
          width="350"
          alt="Medalha"
          data-aos="fade-down"
        />
      </div>
    </div>
    <div class="col-lg-6 col-12 text-center d-lg-flex align-items-lg-start">
      <div
        class="texto-estilizado"
        data-aos="fade-up"
        class="d-flex justify-content-center align-items-center"
      >
        <h1 class="texto1">Aproveitem</h1>
        <h1 class="texto2">Primeiro</h1>
        <h1 class="texto3">Lote</h1>
        <h1 class="valor"><span>R$</span>99,90</h1>
        <span class="itens">Camisa + Chip + Número de Peito</span>
        <div class="btn-inscreva-agora mt-4" data-aos="fade-up">
          <a target="_blank" href="{{URL}}/tipo/inscricao">
            Se Inscreva agora!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
