<section id="objetivo" class="objetivo">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center align-items-center" data-aos="fade-down" data-aos-delay="200">
        <img src="{{URL}}/resources/assets/img/icon-logo.png" class="img-fluid me-3" />
        <h1>Objetivo</h1>
      </div>
      <div class="row">
        <div class="col-12 col-lg-12" data-aos="zoom-in" data-aos-anchor-placement="top-bottom" data-aos-delay="1000">
          <p>
            O evento tem como principais objetivos promover o convívio social, construir um conceito de lazer e formação
            lúdica aliada à educação e à saúde, promover a prática esportiva diversificada, além de estimular a integração
            entre empresas, colaboradores, suas famílias e comunidades, por meio da prática esportiva.
          </p>
        </div>
        <div class="fale-conosco mt-3" data-aos="fade-up" data-aos-delay="100">
          <a target="_blank" href="https://api.whatsapp.com/send?phone=558496903658"><img src="{{URL}}/resources/assets/img/bt-faleconosco.png" class="img-fluid" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
