<section id="objetivo" class="objetivo">
  <div class="container">
    <img
      id="moca-objetivo"
      src="{{URL}}/resources/assets/img/moca-objetivo.png"
      data-aos="fade-up"
      data-aos-delay="250"
    />

    <div class="row">
      <div
        class="d-flex justify-content-center align-items-center"
        data-aos="fade-down"
        data-aos-delay="200"
      >
        <h1>Objetivo</h1>
      </div>
      <div class="row text-center">
        <div
          class="offset-1 col-10"
          data-aos="zoom-in"
          data-aos-anchor-placement="top-bottom"
          data-aos-delay="1000"
        >
          <p class="fs-4">
            O evento tem como principais objetivos promover o convívio social,
            construir um conceito de lazer e formação lúdica aliada à educação e
            à saúde, promover a prática esportiva diversificada, além de
            estimular a integração entre empresas, colaboradores, suas famílias
            e comunidades, por meio da prática esportiva.
          </p>
        </div>
        <div
          class="btn-fale-conosco mt-3"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <a
            target="_blank"
            href="https://api.whatsapp.com/send?phone=558496903658"
            >Fale conosco</a
          >
        </div>
      </div>
    </div>
    <img
      id="calendario"
      src="{{URL}}/resources/assets/img/2024.png"
      data-aos="fade-up"
      data-aos-delay="250"
    />
  </div>
</section>
