<section id="patrocinadores" class="top-section">
  <div class="top-svg-wrapper">
    <img
      src="{{URL}}/resources/assets/img/top-patrocinadores.svg"
      class="top-svg"
    />
    <div class="captions-wrapper">
      <div class="caption caption-left">Conheça nossos</div>
      <div class="caption caption-right">Patrocinadores</div>
    </div>
  </div>
  <img
    id="imagem-garotinha"
    src="{{URL}}/resources/assets/img/menina-patrocinadores.png"
    data-aos="fade"
    data-aos-delay="2000"
  />

  <img
    id="apoio"
    src="{{URL}}/resources/assets/img/patrocinadores/apoio.png"
    data-aos="fade"
    data-aos-delay="2000"
  />
  <div class="container">
    <div class="offset-lg-3 col-lg-6 offset-0 col-12">
      <div class="row">
        <div
          class="col-lg-12 offset-lg-0 col-10 offset-1 d-flex justify-content-center mb-5"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <img
            src="{{URL}}/resources/assets/img/patrocinadores/master-premium-01.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-lg-12 offset-lg-0 col-6 offset-3 d-flex justify-content-center mb-5"
          data-aos="zoom-in"
          data-aos-delay="500"
        >
          <img
            src="{{URL}}/resources/assets/img/patrocinadores/master-premium-02.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-12 d-flex justify-content-center mb-5"
          data-aos="zoom-in"
          data-aos-delay="800"
        >
          <img
            src="{{URL}}/resources/assets/img/patrocinadores/medium.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 d-flex justify-content-center mb-5"
        data-aos="zoom-in"
        data-aos-delay="1100"
      >
        <img
          src="{{URL}}/resources/assets/img/patrocinadores/small.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
