<section id="percurso" class="percurso">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-3 col-3">
        <img src="{{URL}}/resources/assets/img/img_percurso_.png" class="img-fluid me-1" alt="" />
      </div>
      <div class="col-lg-6 col-6">
        <div class="galeria-wrap me-4">
          <a href="{{URL}}/resources/assets/img/img_mapa_percurso.png" data-gallery="galeriaMapa" class="galeria-lightbox">
            <img src="{{URL}}/resources/assets/img/img_mapa_percurso.png" class="img-fluid" alt="" />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-3">
        <img src="{{URL}}/resources/assets/img/img_dacorrida_.png" class="img-fluid" alt="" />
      </div>
    </div>
    <div class="mapa">
      <div class="row mt-3">
        <div class="offset-lg-3 col-lg-6 offset-3 col-6 text-center">
          <img src="{{URL}}/resources/assets/img/icon-localizacao.png" class="img-fluid" alt="" />
          Av. das Américas, 2400 – Parque das Nações, Parnamirim – RN, 59158-150 <br />
          <span> (Largada de frente ao condomínio Parque Morumbi) </span>
        </div>
      </div>
    </div>
  </div>
</section>
