<section id="propaganda">
  <img
    id="desenho-medalha"
    class="img-fluid"
    src="{{URL}}/resources/assets/img/desenho-medalha.png"
    data-aos="fade-down"
  />

  <img
    id="relogio"
    class="img-fluid"
    src="{{URL}}/resources/assets/img/desenho-relogio.png"
    data-aos="fade-down"
    data-aos-delay="1000"
  />
  <div class="container">
    <div class="row">
      <div class="col-3 imagem-esquerda">
        <img
          class="img-fluid mx-auto d-block"
          src="{{URL}}/resources/assets/img/propaganda-left.png"
          data-aos="fade-up"
          data-aos-duration="1000"
        />
      </div>
      <div class="col-6 d-flex align-items-center">
        <img
          src="{{URL}}/resources/assets/img/img-propaganda.png"
          class="img-fluid imagem"
          data-aos="zoom-in"
          data-aos-duration="2000"
        />
      </div>
      <div class="col-3 imagem-direita">
        <img
          class="img-fluid mx-auto d-block"
          src="{{URL}}/resources/assets/img/propaganda-right.png"
          data-aos="fade-down"
          data-aos-duration="1000"
        />
      </div>
    </div>
  </div>
</section>
