<tr class="text-sm">
  <td>{{id}}</td>
  <td>{{nome}}</td>
  <td>{{email}}</td>
  <td>{{cpf}}</td>
  <td>{{dt_cadastro}}</td>
  <td>
    <a href="{{URL}}/admin/inscritos/{{id}}/edit">
      <i data-feather="edit" class="text-primary"></i>
    </a>
    <a class="ms-3" href="{{URL}}/admin/inscritos/{{id}}/delete">
      <i data-feather="trash-2" class="text-danger"></i>
    </a>
    <a class="ms-3" data-id="{{id}}" data-bs-toggle="modal" data-bs-target="#modal-confirmacao" href="#">
      <i data-feather="eye" class="text-warning"></i>
    </a>
  </td>
</tr>
